---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import VoorWie from '../components/VoorWie.astro';
import Usps from '../components/Usps.astro';
import FoundingLocals from '../components/FoundingLocals.astro';
import Pakketten from '../components/Pakketten.astro';
import Werkwijze from '../components/Werkwijze.astro';
import Portfolio from '../components/Portfolio.astro';
import OverIsabella from '../components/OverIsabella.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <VoorWie />
    <Usps />
    <FoundingLocals />
    <Pakketten />
    <Werkwijze />
    <Portfolio />
    <OverIsabella />
    <Faq />
    <Contact />
  </main>
  <Footer />
</Layout>
